/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 232, 232, 1);
    font-family: 'Poppins', sans-serif; /* Fonte global */
}

/* Tipografia */
h1, h2, h3, p {
    text-align: center;
    margin-bottom: 20px;
}

h1, h1 span {
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 span {
    color: #F49051;
    text-shadow: 0px 4px 4px rgba(244, 144, 81, 0.50);
}

h2 {
    font-weight: 800;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 span {
    color: #F49051;
    text-shadow: 0px 4px 4px rgba(244, 144, 81, 0.50);
}

.codigo-verificacao {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-size: 17px;
}

/* Layout Principal */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do container principal */
}

/* Estilos de Seção */
section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    flex: 1;
    padding: 20px;
}

.cebola-section,
.parabens-section,
.otp-section {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites da seção */
    min-height: 100vh; /* Garante que a seção ocupe no mínimo 100% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guri-section {
    padding: 40px;
    border-radius: 10px;
}

/* Estilo de Formulários */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilo dos Inputs */
input[type="email"],
input[type="tel"] {
    width: 210px;
    height: 39px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(218, 217, 217, 0.29);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="tel"] {
    background-color: rgba(244, 144, 81, 0.15);
    box-shadow: 0px 4px 4px rgba(244, 144, 81, 0.5);
}

/* Estilo dos Campos OTP */
.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.otp-input {
    width: 56px;
    height: 54px;
    border-radius: 20px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    outline: none;
}

.otp-input:focus {
    border-color: #F49051;
}

/* Estilo dos Botões */
a, .button {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    width: 210px;
    height: 39px;
    border-radius: 50px;
    background: linear-gradient(90deg, #F49051 0%, #F49051 95%);
    box-shadow: 0px 9px 14px 0px rgba(244, 144, 81, 0.30);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 39px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(90deg, #D77F40 0%, #D77F40 95%);
}

/* Estilo das Imagens */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px; 
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
    flex-wrap: wrap; /* Permite que as imagens quebrem a linha em telas pequenas */
}

.cebola-img {
    width: 100%; /* Ajusta a largura da imagem para 100% da largura do container */
    max-width: 150px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        width: 95%;
    }

    h1, h2 {
        font-size: 32px;
    }

    h2 {
        font-size: 48px;
    }

    .button, input[type="email"], input[type="tel"] {
        width: 100%;
    }

    .otp-input {
        width: 48px;
        height: 48px;
    }

    .cebola-section {
        padding: 20px; /* Reduz o padding para se ajustar melhor na tela */
    }

    .cebola-img {
        max-width: 120px; /* Ajusta a largura máxima para dispositivos menores */
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 24px;
    }

    .otp-input {
        width: 40px;
        height: 40px;
    }

    .cebola-section {
        padding: 10px; /* Reduz ainda mais o padding em dispositivos muito pequenos */
        min-height: 90vh; /* Ajusta a altura mínima para caber em telas menores */
        margin-top: 20vh;
    }

    .cebola-section img {
        max-width: 60%; /* Reduz a largura máxima em dispositivos muito pequenos */
        max-height: 25vh; /* Limita a altura para evitar corte */
        object-fit: contain; /* Garante que a imagem seja redimensionada proporcionalmente */
    }
}
